@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;
  --color-success: #10b981;
  --color-success-hover: #059669;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans antialiased;
}
